.btnWhatsapp {
  display: flex;
  position: fixed;
  bottom: 0px;
  justify-content: center;

  .paneluser {
    display: flex;
    background-color: #43c960;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
 

    svg{
      color: rgb(0, 85, 3);
    }
  }

  .cart {
    position: relative;
    p {
      display: flex;

      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: rgb(255, 255, 255);
      color: rgb(36, 32, 97);
      font-weight: 800;
      font-size: 13px;
      left: 50px;
      border-radius: 50px;
      width: 1.5rem;
    
    }
  }
}
